.owner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}
.owner_name {
  text-align: right;
  position: absolute;
  right: 95px;
}
.owner_picture {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  overflow: hidden;
}
.owner_picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
