.section_cards {
  background-color: var(--light);
  padding-bottom: 40px;
}
.content_cards {
  background-color: var(--soft);
  border-radius: 15px;
  display: grid;
  padding: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}
@media only screen and (min-width: 0px) and (max-width: 900px) {
  .content_cards {
    padding: 25px;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 640px) {
  .content_cards {
    padding: 20px;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
}
