:root {
  --kasa: #ff6060;
  --soft: #f6f6f6;
  --dark: #000000;
  --light: #ffffff;
}
html {
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  background-color: var(--dark);
  color: var(--kasa);
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
figure {
  margin: 0;
}

.content_width {
  max-width: 1200px;
  width: 85%;
  margin: auto;
}
