.content_footer {
  padding: 60px 0;
}
.logo_footer {
  width: 122px;
  height: auto;
  margin: auto;
}
.footer_copyright {
  text-align: center;
  color: var(--light);
  font-size: 20px;
  margin-top: 30px;
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  .footer_copyright {
    font-size: 17px;
    margin-top: 25px;
  }
}
